<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<img src="{{ url_for('static', filename='img/abu.jpg') }}">
<br>
<h3>
    وقد أطلق مكتب التحقيقات الفدرالي لعبة إلكترونية جديدة غريبة للضيق يتميز<br> الماعز تنفجر والتي من المفترض أن يحذر الأطفال من أخطار تصبح الجهادية.<br> ومن المفترض أن اللاعبين لتوجيه الماعز باستخدام لوحة المفاتيح في جميع <br>أنحاء العقبات المختلفة ويسرعون الماضي. ضرب عقبة يسبب الماعز المؤسف أن تنفجر. <br>لا يمكن للولايات المتحدة أن تسخر من الماعز طننا الحبيب.<br> سوف الكفار دفع ثمن خطاياهم.
اشترك الآن لتلبية الماعز الأخرى المحبة كارهي أمريكا مثلك<br>
</h3>
{% endblock %}