<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Sign in or Register{% endblock %}
{% block content %}
    <div class="col-lg-7">
        <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='img/flag.png') }}" width="100%"></a>
	</div>
	<form class="form-horizontal" id="reg" action="{{ url_for('register') }}" method="post">
		<fieldset>
			<div class="col-lg-10 col-lg-offset-1">
				<br><h3>التسجيل الإرهاب الجديد</h3>
                {% with messages = get_flashed_messages(category_filter=["register"]) %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <p class="text-danger"><br><strong>{{ message }}</strong></p>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
			</div>
			<div class="form-group">
			  	<label for="first" class="col-lg-3 control-label">First Name:</label>
			  	<div class="col-lg-6">
					<input class="form-control" id="first" name="first" placeholder="First Name" type="text">
		  		</div>
		  	</div>
		 	<div class="form-group">
			  	<label for="last" class="col-lg-3 control-label">Last Name:</label>
			  	<div class="col-lg-6">
				  	<input class="form-control" id="last" name="last" placeholder="Last Name" type="text">
		  		</div>
		  	</div>
		  	<div class="form-group">
			  	<label for="inputEmail" class="col-lg-3 control-label">Email:</label>
			  	<div class="col-lg-6">
				  	<input class="form-control" id="inputEmail" name="email" placeholder="Email" type="text">
		  		</div>
		  	</div>
			<div class="form-group">
			  	<label for="username" class="col-lg-3 control-label">Username:</label>
			  	<div class="col-lg-6">
				  	<input class="form-control" id="username" name="username" placeholder="Username" type="text">
		  		</div>
		  	</div>
		  	<div class="form-group">
			  	<label for="inputPassword" class="col-lg-3 control-label">Password:</label>
			  	<div class="col-lg-6">
				  	<input class="form-control" id="inputPassword" placeholder="Password" name="password" type="password">
					<br>
				</div>
			<div class="col-lg-11">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="hateusa" name="hateusa">
							عن طريق فحص هذا المربع الذي نتفق على أن الولايات المتحدة الأمريكية تمتص <br>تماما وارتكاب حياتك لخدمة ISIS في مقابل حزام ناسف واثنين من الماعز.
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-1">
					<br>
					<button type="reset" class="btn btn-default">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
	  	</fieldset>
	</form>
{% endblock %}