<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Welcome {{ current_user.id }}{% endblock %}
{% block content %}
{% if current_user.id == uname %}

<div class="col-lg-3">
	<img src="{{ url_for('static', filename='img/propic.jpg') }}" width="275px">
	<ul class="nav nav-pills nav-stacked">
	  <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
	  <li><a href="#post" data-toggle="tab" aria-expanded="false">Write Post</a></li>
	  <li><a href="#messages" data-toggle="tab" aria-expanded="false">Messages&nbsp;<span class="badge">14</span></a></li>
      <li><a href="#friends" data-toggle="tab" aria-expanded="false">Friends&nbsp;<span class="badge">2</span></a></li>
	  </li>
	</ul>
</div>

<div class="col-lg-9">

	<div id="myTabContent" class="tab-content">
	  <div class="tab-pane fade active in" id="profile">
		<table>
		{% for post in current_user.posts %}
		  <tr>
			  <td>{{ post[3] }} - {{ post[1] }}</td>
		  </tr>
		  <tr>
		    <td>{{ post[2] }}</td>
		  </tr>
		{% endfor %}
		</table>
	  </div>
	  <div class="tab-pane fade" id="post">
		<form class="form-horizontal" id="post" action="{{ url_for('post') }}" method="post">
		  <fieldset>
			  <legend>New Post</legend>
			<div class="form-group">
			  <label for="topic" class="col-lg-1 control-label">Topic</label>
			  <div class="col-lg-10">
				<input class="form-control" id="topic" name="topic" type="text">
			  </div>
			</div>
			<div class="form-group">
			  <label for="content" class="col-lg-1 control-label">Content</label>
			  <div class="col-lg-10">
				<textarea class="form-control" rows="12" id="content" name="content"></textarea>
			  </div>
			</div>
			<div class="form-group">
			  <div class="col-lg-10 col-sm-offset-1">
				<button type="reset" class="btn btn-default">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
			</div>
		  </fieldset>
		</form>
	  </div>
	  <div class="tab-pane fade" id="messages">
		<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
	  </div>
	  <div class="tab-pane fade" id="friends">
		<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
	  </div>
	</div>
</div>
{% else %}
	VISITOR VIEW
{% endif %}
{% endblock %}